div.news-detail
{
	word-wrap: break-word;
}

.news-date-time {
	color:grey;
	font-size:13px;
}
div.news-detail h2{font-family:"GothamProBold";margin-top: 40px;margin-bottom: 20px;}
.text-center{text-align:center !important;}

.news-detail figure{margin-bottom: 0px;text-align:center;}
div.news-detail img.detail_picture{max-width:100%; height: auto;float:none;margin:0px;}
.img-wrapper{text-align:center !important;}

.post-date{margin-bottom:30px;}
div.news-detail p {margin-bottom:20px;}
div.news-detail {font-family: RobotoLight;font-size: 19px;line-height: 1.7;}
.top_inner_block_wrapper{padding-bottom:15px !important;}
.back-to-list{color:#333;}
.back-to-list:hover{color:#e6bf00;}
.back-to-list span {text-decoration:underline;}

@media screen and (min-width: 1200px) {
	.news-detail {
		width: 906px;
		margin: 0 auto;
	}
	/*.page-top-wrapper section.page-top{width: 906px;padding-left: 0px;padding-right: 0px;}*/
}
@media (max-width: 767px) {
	body h1 {
		font-size: 32px;
		line-height: 36px;
		padding-top: 10px !important;
		padding-bottom: 0px !important;
	}
}

@media (max-width: 670px) {
	.news-detail img{max-width:100%; height: auto; float:none;margin:0;}
}