.name.header{font-size: 1.8rem;}
#main_cat .shifter ul li:first-child{margin-top:5px;}
#main_cat .shifter .name a {font-size:1.4rem;}
#main_cat > li {min-height:290px !important;}
#main_cat .shifter{padding-top:25px !important;}

@media (max-width: 1028px) {
    .name.header{font-size: 1.5rem;}
    #main_cat .shifter .name a {font-size:1.2rem;}
    #main_cat .shifter ul li:first-child{margin-top:2px;}
}

@media (max-width: 1028px) {
    .name.header{font-size: 1.3rem;}
    #main_cat .shifter .name a {font-size:1.1rem;}
    #main_cat .shifter ul li:first-child{margin-top:0px;}
}