.bx-catalog-element.bx-mobile{border:2px solid var(--primary)}
.bx-catalog-element.bx-mobile .toprow{background-color: var(--primary)}
.bx-catalog-element.bx-mobile .toprow div.title{font-weight: bold;font-size: 2rem;}
.bx-catalog-element.bx-mobile .toprow div.timer{text-align: right;display: flex;align-items: center;}
.bx-catalog-element.bx-mobile .toprow div.timer span.img-clock{height: 2.1rem; width: 2.1rem;background: url("images/icon_time.png") 0 0 no-repeat;margin-right: .5rem;margin-top: -.3rem;}
.bx-catalog-element.bx-mobile .toprow div.timer span#display{font-size: 2rem;}
.bx-catalog-element.bx-mobile .mainrow{margin-bottom:1rem;display: flex;align-items: center;justify-content: center;}

.bx-catalog-element.bx-mobile .mainrow .left{padding:0;}
.bx-catalog-element.bx-mobile div.row.right{text-align: center;display: flex;flex-direction: column;}
.bx-catalog-element.bx-mobile .product-item-detail-price-current{font-weight: 900;}
.bx-catalog-element.bx-mobile .mainrow .product-item-label-ring{}
.bx-catalog-element.bx-mobile .mainrow .product-item-label-ring span{font-weight: 900;background-color: var(--primary);padding:4px 10px;}

