.checkbox-tree {

    margin-left: 5px;
    padding: 0;
    list-style: none;
}

.checkbox-tree li:before {
    content: "" !important;
}

.checkbox-tree ul {
    padding-left:15px;
}

.checkbox-tree ul.root {
    margin: 0;
    padding: 0;
}

.checkbox-tree li {
    clear: both;
    position: relative;
    list-style-type: none;
}

.checkbox-tree span.label {
    display: inline-block;
    margin: 0 0 0 4px;
    cursor: pointer;
    background: none;
}

.checkbox-tree ul.hide {
    display: none;
}

.checkbox-tree span {
    color: #333;
    cursor: pointer;
    position: absolute;
    left: -2.5rem;
    top: 0;
    bottom: 0;
    margin: auto 0;;
}

.checkbox-tree .expanded {
    cursor: pointer;
    /* float: left; */
    margin: 1px 2px 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 16px;
}

.checkbox-tree .expanded:after {
    font-family: FontAwesome;
    content: "\f077";
    margin-left: -1px;
}

.checkbox-tree .collapsed:after {
    font-family: FontAwesome;
    content: "\f078";
    color: gray;
}

.checkbox-tree input[type="checkbox"] {
    display: none;
}

.checkbox-tree input[type="checkbox"] + label {
    cursor: pointer;
}

.checkbox-tree input[type="checkbox"] + label::before {
    font-size: 0;
    content: ".";
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 0px;
    top: 5px;
    z-index: 2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0px 0px 0px 1px #cccccc inset;
    -moz-box-shadow: 0px 0px 0px 1px #cccccc inset;
    -webkit-box-shadow: 0px 0px 0px 1px #cccccc inset;
    background: #fff;
}

.checkbox-tree input[type="checkbox"] + label:hover::before {
    display: inline-block;
    z-index: 3;
    color: #FFF;
    background: #f6b500;

}

.checkbox-tree input[type="checkbox"]:checked + label::before,
.checkbox-tree input[type="checkbox"].checked + label::before {
    box-shadow: none;
    background-color: #f6b500;

}
.checkbox-tree li label{margin-left: 2rem;}
.bx_filter_section .buttons .btn{color:var(--bl)}


