/*! Ulmart frontend v 0.1 */
body {
	background-color:#FFFDE4 !important;
}
body:before
{
   
        background: url(/local/img/nps/nps-bg.jpg) left top ,
        url(/local/img/nps/nps-bg.jpg) right top !important;
		background-repeat: no-repeat !important;
		
		background-size: auto auto;

}

.t-dev .content{-webkit-box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
	box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);}