div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 20px 6px 0px;
}
.prop-field a, .all-news a
{
	color:#486DAA;
}
.all-news a{font-size:1.5rem;}
.all-news {text-align:right;}

.top_inner_block_wrapper{padding:0 0 5px !important;}
.post-date{margin-bottom: 2.5rem;text-align: left;}
.news-date-time {
	font-size: 1.3rem;
	margin-bottom: 2rem;
	color: grey;
}

div.news-detail {
	font-family: RobotoLight;
	font-size: 1.75rem;
	line-height: 1.5;
}
div.news-detail {
	word-wrap: break-word;
}

h1#pagetitle{letter-spacing: -1px;font-size: 3.5rem; line-height:1.1;}

@media screen and (min-width: 1200px) {
	.news-detail, .page-top .page-top-main, .page-top-wrapper .breadcrumbs {
		width: 906px;
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	body h1 {
		font-size: 32px;
		line-height: 36px;
		padding-top: 10px !important;
		padding-bottom: 0px !important;
	}
}

@media (max-width: 670px) {
	.news-detail img{max-width:100%; height: auto; float:none;margin:0;}
}