#main_cat_m{padding: 0 10px;/*margin: 0px -20px 0px -20px;*/}
#main_cat_m li{list-style: none;padding: 0;}
#main_cat_m li .front{display: flex;margin:0.5rem;border-radius: 10px;min-height: 150px;/*justify-content: center;*/align-items: flex-start;flex-direction: column;}
#main_cat_m li .img.shine{overflow:visible;}
#main_cat_m li .name{color: var(--bl) !important;position: absolute;bottom:1rem;left:0;right:0;text-align: center;}

#main_cat_m .front{
    border:1px solid #bfbfbf;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    padding: 10px 40px;
    box-shadow: 0 4px 6px 0 #bfbfbf,inset 0 -1px 0 0 #b2b2b2,inset 0 0 0 1px #b2b2b2,0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: 0 4px 6px 0 #bfbfbf,inset 0 -1px 0 0 #b2b2b2,inset 0 0 0 1px #b2b2b2,0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: 0 4px 6px 0 #bfbfbf,inset 0 -1px 0 0 #b2b2b2,inset 0 0 0 1px #b2b2b2,0 2px 4px 0 #D4D4D4;
    text-shadow: 0 1px 0 #fff;
}

