
.tabs .nav.nav-tabs li.active a {background: #ffd400 !important;border-bottom-color: #f2f2f2 !important;}
.module-form-block-wr .form-block label, .tabs .nav-tabs li.active a{color:#222 !important;}
.tabs .tab-content, .registraion-page{padding-top:0px !important;}
.registraion-page .form-block{padding-left:0px !important;}
.tabs .nav-tabs, .border_block{border:none !important;}
.registraion-page .main_info {border:1px solid #eee !important;}
.tab-pane .maxwidth-theme{padding-left:40px !important;}
.tab-pane .btn.btn-default{color:#222;}

