@font-face {
    font-family: "RobotoLight";
    src: url("/local/templates/futuland/fonts/RobotoLight/RobotoLight.eot");
    src: url("/local/templates/futuland/fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("/local/templates/futuland/fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("/local/templates/futuland/fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBold";
    src: url("/local/templates/futuland/fonts/GothamProBold/GothamProBold.eot");
    src: url("/local/templates/futuland/fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("/local/templates/futuland/fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("/local/templates/futuland/fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProRegular";
    src: url("/local/templates/futuland/fonts/GothamProRegular/GothamProRegular.eot");
    src: url("/local/templates/futuland/fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("/local/templates/futuland/fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("/local/templates/futuland/fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

:root {/* base color */ /*#f3b901*/
    --primary: #ffd91f;
    --primary2: #e6bf00;
	--bl: #222;
}
.color0{color:#f3b901 !important}/*base orange*/
.color1{color:#fb3c00 !important}/*base red*/
.color2{color:#0042fb !important}/*base blue*/
.flex-line{display:flex;flex-wrap: nowrap;}
.float-l{float:left !important;}
.float-r{float:right !important;}
.clearBoth{clear:both;}
body{font-family: 'Roboto', sans-serif;}
@font-face {font-family: 'Roboto', sans-serif;font-display: auto;}
.btn.btn-primary {background-color:var(--primary);border-color: var(--primary);color:#222;font-weight: bold;}
.btn.btn-primary:hover {background-color:var(--primary2);border-color: var(--primary2);}
/* HEADER */
#headerfixed .v1 .menu-block .navs ul li a{padding:.2rem 0 0 1rem !important;}
header .logo-row .logo {max-width:60%;padding:0;}
header .middlepos{display: table-cell;vertical-align: middle;height: 104px;}
header #fixedheader.sticky {position: fixed;top: 0;width: 100%;height: 80px;border-bottom: 1px solid lightgray;background-color: white;z-index:1;}
header #fixedheader.sticky + #ftopmenu {padding-top: 80px;}
header #fixedheader.sticky *{max-height: 79px!important;}
header #fixedheader.sticky .middlepos,header #fixedheader.sticky .inner-table-block,header #fixedheader.sticky .search-wrapper,header #fixedheader.sticky .wrap_icon{height: 79px;}
header #fixedheader.sticky .personal-link .title,header #fixedheader.sticky .phone-block .n1{display:none;}

#locGeoIp > div{display:contents;margin-right:1rem;}
#locGeoIp .city_title{text-align: center;font-weight: bold;}
#locGeoIp .cityName{color:black;white-space: nowrap;}
#locGeoIp i.fa-map-marker{color:var(--primary2);margin-right:1rem;}
#locGeoIp i.fa-angle-down{color:black;margin-left:1rem;}
.popup_select_loc .fancybox-outer{background-color:#f2f2f2;}
.popup_select_loc .form a{color:#222 !important;font-size:1.1rem;padding:0 1rem;word-wrap:normal;}
.popup_select_loc .form a.quick-location-tag{background-color: var(--primary);}
.popup_select_loc .form > div{padding:1rem 3rem;}
.popup_select_loc .form .form_head{border-bottom: 2px solid;border-bottom-color: #f0b700;padding:0 3rem;}
.popup_select_loc .form .bx-ui-sls-input-block .bx-ui-sls-container{margin-left: 2rem!important;}

.logo_and_menu-row .personal-link .wrap > span {overflow: visible;color:var(--bl);}

header i.box_retail {
    margin-top: 5px;
    display:block;
    background: url("/local/templates/futuland/images/box_retail2.png");
    background-size: cover;
    width: 30px !important;
    height: 30px !important;
}
header i.box_opt {
    display:block;
    background: url("/local/templates/futuland/images/opt_box.png");
    background-size: cover;
    width: 47px !important;
    height: 39px !important;
}
header .personal-link,header .personal-link > div{padding:0;}
header .personal-link .line1{height: 4rem;}
header .personal-link .line1 .name{line-height: 4rem;font-weight: bold;font-size: 1.2rem;}
header .personal-link .title {font-size: 0.8em;}
header .phone-block{text-align:center;}
header .phone-block .callback-block{margin:unset;}
header .phone-block i.svg.svg-phone{position: absolute;top: .6rem;left: -1.5rem;}
header .phone-block span{color: var(--bl);}
header .phone-block .phone {margin:unset;}
#mainwrap #banner2{margin-top: 2rem;}

/* top menu */

#ftopmenu .mega-menu div{height: 40px;}
#ftopmenu .mega-menu table .dropdown-menu {top:40px;}
#ftopmenu .mega-menu .menu-item .wrap > a{font:bold 1.1em Roboto, Helvetca, Arial, sans-sarif;height: 40px;padding: unset;line-height: 40px;border-right: none}
#ftopmenu .mega-menu table td.dropdown .wrap > a:not(.more-items) {padding-right:unset;}
#ftopmenu .mega-menu .menu-item .wrap > a > div{color:white;white-space: nowrap;overflow: hidden;}
#ftopmenu .mega-menu .menu-item.active .wrap > a > div{color:#222;}
#ftopmenu .mega-menu .menu-item:hover .wrap > a > div {color:var(--bl);}
#ftopmenu .mega-menu table td .wrap > a > div {text-transform: uppercase;}
#ftopmenu .mega-menu table td.dropdown .wrap > a:not(.more-items):after{display: none;}
.fill_bg_n .menu-row.bgcolored, .fill_bg_y .menu-row.bgcolored >.maxwidth-theme {background-color: white;}
#ftopmenu .menu-only {background-color: var(--bl);}
#ftopmenu .mega-menu table td.active {background-color: var(--primary);}
#ftopmenu .mega-menu table {table-layout: fixed;width: 100%;}
#ftopmenu .mega-menu table td.menu-item{width: 2%;}
#ftopmenu .mega-menu table td.menu-item .top_level_group{display: inline-flex;}
#ftopmenu .mega-menu table td.menu-item .top_level_group > div {height:36px; width:40px;display: inline-flex;margin: 2px 10px 2px 0;}
#ftopmenu .mega-menu table .dropdown-menu li a {padding: 10px !important;}
#ftopmenu .mega-menu table .wrap > .dropdown-menu li > .dropdown-menu {top: 0;}
#ftopmenu .mega-menu .bg-1 {background: url('/local/templates/futuland/images/top_menu_sprites.png') -10px -10px;}
#ftopmenu .mega-menu .bg-2 {background: url('/local/templates/futuland/images/top_menu_sprites.png') -70px -10px;}
#ftopmenu .mega-menu .bg-3 {background: url('/local/templates/futuland/images/top_menu_sprites.png') -130px -10px;}
#ftopmenu .mega-menu .bg-4 {background: url('/local/templates/futuland/images/top_menu_sprites.png') -190px -10px;}
#ftopmenu .mega-menu .bg-5 {background: url('/local/templates/futuland/images/top_menu_sprites.png') -250px -10px;}

/* MAIN PAGE */
.main_hlink{display: block;color:#222;text-transform: uppercase;font-size: 2.7rem;font-weight:bolder;margin:4rem 0 2rem 0;}
.main_hlink:hover{color:var(--primary2);}
.main_slider{margin: 0 -14px 0px -14px;}
.wrapper_inner.front h4, .wrapper_inner.front .title_block{text-transform: uppercase;}
hr + .top_wrapper + .bottom_nav{display:none;}

#main_news_line {border-top: 1px solid #f2f2f2;border-bottom: 1px solid #f2f2f2;margin:2rem 0;}
#main_news_line .row{height: auto;position: relative;}
#main_news_line .news_el > a{display: block;position: relative;}
#main_news_line .name{color:var(--bl);}
#main_news_line .text-bottom{text-align: center;padding-bottom: 1rem;}
#main_news_line .text-bottom *{display: inline-block;}
#main_news_line a img{max-width: 100%;left:0;right:0;bottom: 100px;vertical-align: bottom;opacity:0;z-index: 20;position: absolute;}
#main_news_line .news_el:hover a{}
#main_news_line .news_el:hover img{opacity:1;transform: translateY(-10px);-webkit-transform: translateY(-10px);border-radius: 8px 8px 0 0;border:3px solid var(--primary2);border-bottom:none;}
#main_news_line .news_el:hover .text-bottom{z-index: 20;font-weight:bold;left:0;right:0;bottom: 0;background-color: #f2f2f2;border-radius: 0 0 8px 8px;border:3px solid var(--primary2);border-top:none;}
#main_news_line span.btn{width: 40%;margin: auto;padding: unset;}
#main_news_line .all_news{text-transform: uppercase;text-align: center;position: relative;min-height:10rem;}
#main_news_line .all_news a{width: 50%;height: 20%;margin: auto;position: absolute;top: 0;left: 0;bottom: 0;right: 0;}
#main_news_line .all_news a span{font-size: 1.8rem;}


section.page-top {
    min-height: 30px;
}

.brands_slider_wrapp ul li a img{
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0%);
}
.brands_slider_wrapp ul li:hover a img:hover{
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.3;
    khtml-opacity: 0.3;
    opacity: 0.3;
    filter: none;
    -webkit-filter: grayscale(30%);
}
.brands_slider_wrapp{margin-top:1rem;border-bottom: 1px solid #f2f2f2;}
.brands_slider_wrapp .flex-direction-nav .flex-prev::before,.brands_slider_wrapp .flex-direction-nav .flex-next::before{display: none;}
.brands_slider_wrapp .flex-direction-nav li a{height: 20px;width: 20px;display: block;}
.mt5r{margin-top:5rem !important;}
.mt4r{margin-top:4rem !important;}
.mt3r{margin-top:3rem !important;}
.mt2r{margin-top:2rem !important;}
.mt1r{margin-top:1rem !important;}
.mt0r{margin-top:0rem !important;}

.mb4r{margin-bottom:4rem !important;}
.mb3r{margin-bottom:3rem !important;}
.mb2r{margin-bottom:2rem !important;}
.mb1r{margin-bottom:1rem !important;}
.mb0r{margin-bottom:0rem !important;}

.catalog-top h4{font-size: 2em;}
.catalog-top .btn.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color:black;
    font-weight: bold;
}
.bx-no-touch .catalog-top .product-item-container .product-item-info-container.product-item-hidden {
    display: block;
    opacity: 1;
}
.bx-no-touch .catalog-top .product-item-container .product-item-info-container.product-item-price-container .product-item-price-current{
    font-size: 2rem;
}
.title_block {
    font-size: 3rem;
}
.left_menu li.exit a{color:#ffd91f;}
.viewed_product_block .border .flex-direction-nav li{border:none !important;}
h1#pagetitle{margin:0rem; font-family: GothamProBold;}
.main_hlink{font-family: GothamProBold;}
h2, .h2, .bx-soa-section-title, .catalog_section_list .section_item li.name a span, #main_cat .shifter .name a{font-weight:bold; font-family:GothamProRegular;}
#main_cat .shifter .front .name a{font-size:1.8rem;}
.right_block ul.catalog-top-slider-pagination{margin:0;}
body .contacts .icon .fa.big-icon{background:transparent;}
.contact-title .mobile{display:none;}
.contact-title {border-bottom:1px #ebebeb solid;font-family: RobotoLight;padding-bottom:10px; font-size:2.1rem;}
.contacts-wrap .dark_table{text-transform: uppercase;
    font-weight: bold;
    font-family: RobotoLight;
    color: #222;
}
.contacts-wrap .dark_table + div{padding-top:5px;}
.contacts-wrap .dark_table + div[itemprop='email']{max-width:300px;}
.contacts .contacts-wrap .icon {display:none;}
.contacts .contacts-wrap table td {padding-top:20px;}

#mainwrap #main_cat {margin: 0 0 3rem;}
#main_cat > li{display: block;float:left;min-height: 280px;}
#main_cat .shifter {text-align: center;border: 1px solid #F2F2F2;padding: 30px 10px 30px;}
#main_cat .shifter .front {background-color: white;top:0;left:0;}
#main_cat .shifter .name a{color: #1d2029 !important;font-weight: bold;font-size:1.3rem;}
#main_cat .shifter li {list-style-type: none;}
#main_cat .shifter li:before {content: none;}
#main_cat .shifter ul, #main_cat .shifter li{margin: 0;padding:0;}
#main_cat .shifter img {max-width: 100%;max-height: 100%;}
#main_cat li.shifter .back ul li:hover a {color:grey!important;}
.new-br-bottom-left::after {
    content: "";
    display: block;
    height: 1px;
    width: 60px;
    border-top: 2px solid #2b2b2b;
    margin: 10px 0px;
}

.menu_top_block.catalog_block .dropdown>li.full>a{color: #ffffff;}
header .menu_top_block li.catalog>.dropdown>li>a, body .menu_top_block.catalog_block .dropdown >li.full>a, .left_menu > li> a{border:1px solid #f2f2f2;border-bottom-width:0px;background:#575656;position:relative;}
.left_menu li:not(.exit) a{color: #ffffff;}

a {color:#486DAA;}

nav.mega-menu .dropdown-toggle::after {border:none}
nav.mega-menu tbody > tr > td.menu-item a {color:var(--bl) !important;}
.menu-row.middle-block .mega-menu table td.catalog .wrap > a {text-align: center;}

body .btn.btn-default span,body .btn.btn-default.white span{color:var(--bl) !important;}
form[name='FEEDBACK'] .btn.btn-default{color:#222;}

/* стили для метки */
label[for=catalog_available] {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
label[for=catalog_available]:after {
    content: " ";
    color: #000;
    display: inline-block;
    font: 20px/30px Arial;
    margin-left: 15px;
    position: relative;
    text-align: center;
    text-indent: 0;
    width: 20px;
    height: 20px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
label[for=catalog_available].active:after{
    background-color: #d29b00;
}
/* SIDEBAR+ */
body .right_block.wide_, body .right_block.wide_N {
    float:left;
}
body .left_block {
    float:right;
}

/* CATALOG */
.catalog_block.items .item_block{margin:0 0 3rem 0;}
.catalog_block.items .item_block .cost.prices.clearfix .price{width:100%;}
/*.catalog_block.items .item_block .cost.prices.clearfix .price .offers_price_wrapper {min-height: 40px;}
.catalog_block.items .item_block .cost.prices.clearfix .price .offers_price_wrapper .offers_price_title{position: absolute;margin:unset;}*/
/*labels*/
.item_block .labels,.item_main_info .labels{position:absolute;left:0;top:0;z-index:20;}
.item_block .labels .label,.item_main_info .labels .label{color:white;background: unset;width: max-content;display: block;margin-bottom:1rem;padding: 0.3rem 1rem 0.2rem 0.3rem;border-radius: 0 10px 10px 0;text-align: left;}
.item_block .labels .label.new,.item_main_info .labels .label.new{background-color:#13c13c;}
.item_block .labels .label.action,.item_main_info .labels .label.action{background-color:#FF595A;}
/*.item_block .labels .label.hit,.item_main_info .labels .label.hit{background-color:#6666ff;}*/
.item_block .labels .label span,.item_main_info .labels .label span{font-size:1.5rem;font-weight:bold;}

/*ELEMENT*/
.catalog_detail .item_main_info .item_slider {width: 100%;}
.catalog_detail .item_main_info .right_info{padding:0;}
.d_price .item_block{border:1px #F2F2F2 solid;margin:1rem 0;}
.d_price .item_block .description{font-size:1.2rem;}
.d_price .item_block .line1 .name{padding: 2rem 1rem;text-align: center;}
.d_price .item_block .line .price_value span{font-weight: bold;}

/* NEWS */
/*news list*/
.item-views.list.f-web20 .item .title {font-size: 2.5rem;}
.item-views.list.f-web20 .item .period span{font-size: 1.5rem;}
.item-views.list.f-web20 .item .link-block-more{position: absolute;bottom:0;}
body .list-type-block.item-views:not(.items-services) .item > .body-info {padding-top: unset;}
/*news item*/
/* social */
.news-detail-share {margin:2rem 0; }
.news-detail-share li{list-style-type: none;}
.news-detail-share li:before{content:unset;}


/* FOOTER */
#footer .footer_inner .bottom_wrapper{box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.136);background-color: black; color:white;}
#footer .footer_inner .bottom_wrapper #mainrow{border-bottom: 1px white dashed;text-align: center;}
#footer .footer_inner .bottom_wrapper .maxwidth-theme{background-color: inherit;}
#footer .endrow .inner-wrapper.row{margin-top:3rem;text-align: center;}
footer .bottom-middle {padding: 34px 0 0;}
footer .bottom-under{height: 2rem;}
footer .bottom-menu a{color: navajowhite;}
footer .bottom-middle .social-icons li a{background:unset;border-radius:unset;}
footer .bottom-middle .social-icons li img {background-repeat:no-repeat;}
footer .bottom-middle .social-icons li.vk img {}
/*footer .bottom-middle .social-icons li.dzen a {background-color: #4f5a6b;background: url("/local/templates/futuland/images/Yandex_Zen.png") 0 0 no-repeat;}*/
footer .img-line > div:first-child > div{float: left;}
footer .img-line > div:last-child > div{float: right;}
body a.scroll-to-top:before {display: block; margin-top: 6px;}

/* pay images*/
footer .pay_system_icons {display: inline-block;}

.pay-imgwebmoney { background-position: -10px -0px; width: 90px; height: 16px; }
.pay-imgmastercard { background-position: -10px -26px; width: 87px; height: 17px; }
.pay-imgyandexmoney { background-position: -10px -53px; width: 85px; height: 16px; }
.pay-imgpaypal { background-position: -10px -79px; width: 63px; height: 16px; }
.pay-imgmir { background-position: -10px -105px; width: 53px; height: 15px; }
.pay-imgvisa { background-position: -10px -130px; width: 47px; height: 16px; }
.pay-imgqiwi { background-position: -10px -156px; width: 44px; height: 16px; }

footer .logo-pay{width: 300px;height: 64px;}
footer .subscribe-edit{margin: 1rem auto;}
footer #ym5{margin-top: -1.5rem;}

.tizers_block {font-size: 0;margin: 0;text-align: center;padding: 0;}

#left-similar .footer_button,#left-similar .sa_block {display: none;}
/* LAZY */
.banners-small .item .image img {width:unset;}
.banners-small .item .image{height:200px;}
img[data-lazyload-error-src='/local/templates/futuland/images/no_photo_small.png'] {display: block;margin-left: auto;margin-right: auto }
.lazy_f2 img.bx-lazyload-success{height: 40px;width: 40px;}

/* GIFT */
.sale_gift_product_container ul.tabs_slider.slides{max-width: 100% !important;}
.sale_gift_product_container ul.tabs_slider.slides > li {width: 100% !important;}

/* scroll-to-top*/
body a.scroll-to-top{background:#404040;}
body a.scroll-to-top:before{content: '\2191';font-size: 4rem;font-weight: bold;color: white;line-height: 3rem;}

/* bootstrap col5*/
.col5{width: 20%;float:left;}
.col5-18{width: 18%;float:left;}
.col5-10{width: 10%;float:left;}

/*  ADAPTIVE / @media (min-width: 600px) and (max-width: 800px) */
@media (max-width: 767px){
    footer .img-line > div:first-child > div{float: none;}
    footer .img-line > div:last-child > div{float: none;margin:1rem auto;}
    footer .banner.SIDE{float:none!important;}
    #footer .endrow .inner-wrapper.row { margin-top: 0;}
    .banners-small .item .image{height:150px;}

    .contacts-wrap .contact-title{display:inline-block; padding:20px; background-color:#ffd400; color:#222; cursor:pointer; width:100%; text-align:center;}
    .contacts-wrap > div.contact-info {display:none; padding:0 20px;}
    .contacts-wrap {margin-bottom:20px;}
    .contacts-wrap .desktop{display:none;}
    .contacts-wrap .mobile{display:block; font-size:1.5rem;}
    .road-description-wrap h4 {padding:20px; background-color: #ffd400; cursor:pointer;font-family: robotolight;}
    .road-description-wrap img, .road-description-wrap p, .road-map-wrap{display:none;}
}
@media (max-width: 1500px){
    #main_news_line .news_el:hover img {bottom: 120px;}
}

@media (max-width: 991px){

}

@media (min-width: 992px) and (max-width: 1300px) {

}
@media (min-width: 1301px) and (max-width: 1500px) {

}
@media (min-width: 992px) and (max-width: 1500px) {
    header .phone-block {font-size:1rem;}
    header .personal-link .title {display: none;}
    header .personal-link .line1 .name{width: 100%;}
}
@media (min-width: 1700px){
    .container {
        max-width: 1650px;
    }
    .maxwidth-theme.contacts{padding:0px;}
}
@media (min-width: 1400px){
    .catalog_block.items .item_block .catalog_item.main_item_wrapper{
        min-height: 380px;
    }
}
