.adv-list{list-style-type:none;}
.pd10{padding:0 10px !important;}
.adv-list label{font-weight:100; font-size:15px; padding-left:5px;}
h1#pagetitle{text-align:center;margin-bottom:0px !important; font-family:"GothamProBold";}
.poll-wrap, .unreg-user-wrap{
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
    box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
    background-color: #fff;
    padding:5px 40px 15px 40px;
}
.row.comment-wrapper textarea{-webkit-box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
    box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08); background-color:#fff;}

.poll-field-error{color:red;}
.poll-wrap h2, .unreg-user-wrap h2{font-size:20px; margin-bottom:20px;}
body, .header_wrap #header, .wrapper_inner, .maxwidth-theme, .page-top-wrapper.grey, .fill_bg_n .menu-row.bgcolored, header #fixedheader.sticky{background:#f5f5f5 !important;}
.logo_and_menu-row .logo-row, .logo_and_menu-row .logo-row .maxwidth-theme{background-color:#fff !important;}
#footer .footer_inner .bottom_wrapper .maxwidth-theme {
    background-color: inherit !important;
}

.prop-other-wrap.hidden, .comment-wrapper.hidden{display:none;}
.prop-other-wrap .prop-other{background-color:#f0f0f0;}
.comment-add a {border-bottom:1px dashed;}
.row.comment-wrapper{margin:20px 0px;}
.comment-add, .row.mt20{margin-top:20px;}

.btn.poll-btn{width: 100%;color: #222 !important;padding: 10px 0;}
