@font-face {
	font-family: "RobotoLight";
	src: url("/local/templates/futuland/fonts/RobotoLight/RobotoLight.eot");
	src: url("/local/templates/futuland/fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("/local/templates/futuland/fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("/local/templates/futuland/fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamProBold";
	src: url("/local/templates/futuland/fonts/GothamProBold/GothamProBold.eot");
	src: url("/local/templates/futuland/fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
	url("/local/templates/futuland/fonts/GothamProBold/GothamProBold.woff") format("woff"),
	url("/local/templates/futuland/fonts/GothamProBold/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

div.news-detail
{
	word-wrap: break-word;
}

.news-date-time {
	color:grey;
	font-size:13px;
}
div.news-detail h2{font-family:"GothamProBold";margin-top: 40px;margin-bottom: 20px;}
.text-center{text-align:center !important;}

.news-detail figure{margin-bottom: 0px;text-align:center;}
div.news-detail img.detail_picture{max-width:100%; height: auto;float:none;margin:0px;}
.img-wrapper{text-align:center !important;}
div.news-detail ul{padding-left:40px; margin-bottom:30px;}
div.news-detail ul b{margin-left:-40px;margin-bottom: 5px;display: block;}

.post-date{margin-bottom:30px;}
div.news-detail p {margin-bottom:20px;}
div.news-detail {font-family: RobotoLight;font-size: 19px;line-height: 1.7;}
.top_inner_block_wrapper{padding-bottom:15px !important;}
.back-to-list{color:#333;}
.back-to-list:hover{color:#e6bf00;}
.back-to-list span {text-decoration:underline;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}

h1#pagetitle{letter-spacing: -1px;font-size: 3.5rem; line-height:1.1;}

@media screen and (min-width: 1200px) {
	.news-detail, .page-top .page-top-main, .page-top-wrapper .breadcrumbs {
		width: 906px;
		margin: 0 auto;
	}
	/*.page-top-wrapper section.page-top{width: 906px;padding-left: 0px;padding-right: 0px;}*/
}
@media (max-width: 767px) {
	body h1 {
		font-size: 32px;
		line-height: 36px;
		padding-top: 10px !important;
		padding-bottom: 0px !important;
	}
}

@media (max-width: 670px) {
	.news-detail img{max-width:100%; height: auto; float:none;margin:0;}
}